:root {
    --COLOR-BASE-PRIMARIA: #4616AC;
    --COLOR-BASE-TEXTO: #FFFFFF;
    --COLOR-BASE-BTN-FORM: #FFFFFF;
    --COLOR-BASE-SEGUNDARIA: #a929ff;
    --BG-COLOR-HTML: #EDEDED;
    --BG-COLOR-CARD: #D7D7D7;
    --COLOR-VALOR-TOTAL: #424242;
}