
.container-cards {
    width: 100%;
    height: 300px;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    -webkit-overflow-scrolling: touch;
}

span.prev {
    background: var(--COLOR-BASE-SEGUNDARIA);
    border-radius: 25px;
    color: var(--COLOR-BASE-TEXTO);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 120px;
    margin-left: -30px;
}

span.next {
    background: var(--COLOR-BASE-SEGUNDARIA);
    border-radius: 25px;
    color: var(--COLOR-BASE-TEXTO);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 120px;
    margin-left: 456px !important;
}

span.next:checked, span.prev:checked {
    background: #424242 !important;
}

.carousel .card {
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 20px;
}

.card {
    margin-left: 20px;
    position: relative;
    width: 100%;
    max-width:126.75px;
    min-width: 126.75px;
    height: 156px;
    top: 70px;
    cursor: auto;
    background: #D7D7D7;
    border-radius: 9px;
}

.card:nth-child(1) {
    margin-left: 15px;
}
.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img {
    width: 100%;
    max-width: 120px;
    height: 86px;
    object-fit: contain;
    padding: 0px;
    border-radius: 5px;
    transition: 0.1s linear;
}

.card-img img:hover {
    transition: 0.1s linear;
    transform: rotate(15deg);
}

.card-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-desc p {
    margin: 2px;
}

.card-desc .titulo {
    margin: 5px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 9px;
    text-transform: uppercase;
    background: #9a34ff;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
    border-radius: 4px 4px 0 0;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-desc:hover .titulo:hover {
    max-height: none !important;
}

.card-desc .valor {
    font-weight: 900;
    font-size: 18px;
    line-height: 0;
    color: var(--COLOR-BASE-PRIMARIA);
    margin-bottom: -12px;
    background: var(--COLOR-BASE-TEXTO);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 0 0 4px 4px;
}

.div-preco-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-preco-img img {
    height: 12.75px;
}

.div-preco-img .preco {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: var(--COLOR-BASE-SEGUNDARIA);
}
.botoes-cards {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 0px;
}
.botoes-cards img {
    cursor: pointer;
}