header {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-titulo-centro {
    font-weight: bolder;
}

.header-logar {
    display: flex;
    align-items: center;
}

.header-botao-logar {
    font-size: small;
    font-weight: 900;
}
.sair-mobile {
    display: none;
}
.header-botao-logar {
    cursor: pointer;
    transition: 0.5s;
}

.header-botao-logar:hover {
    color: var(--COLOR-BASE-SEGUNDARIA);
    transition: 0.5s;
}
.header-botao-logar a {
    text-decoration: none;
    color: inherit;
}
.login_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_info button {
    height: 20px;
    border: none;
    background: aliceblue;
    border-radius: 25px;
    color: #444;
    cursor: pointer;
}
.login_info p {
    margin-left: 5px;
    margin-right: 10px;
}

.burger-menu {
    right: 15px;
    position: relative;
}
img.menu {
    cursor: pointer;
    width: 24px;
}
span.span-manu {
    position: absolute;
    top: 22px;
    background: white;
    right: 0;
    width: 220px;
    max-width: 220px;
    border-radius: 4px;
    box-shadow: -10px 10px 19px rgba(0, 0, 0, 0.1);
    z-index: 50;
}

span.span-manu ul {
    padding: inherit;
}
span.span-manu li {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    height: 30px;
    border-bottom: 1px solid #4616ac26;
    margin: 0 15px;
    margin-bottom: 10px;
}

span.span-manu a {
    text-decoration: none;
    border-bottom: 1px solid #4616ac2e;
}

.header-logo {
    display: flex;
    width: 65px;
    justify-content: center;
}